* {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {
        background: #5E8ECC no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height:100%;
        background-position: 50% 0%, 50% 100%, 0% 0% ;
}

.header {
  color: #00BFFF;
  font-size: 50pt;
  text-align:center;
  padding-top:40px;
  min-height: 50%;
 }
body {
  background-color: rgba(255, 255, 255, 0);
 }
nav {
    width: 90%;
    margin: 50px auto;
}

nav ul {
    list-style: none;
    overflow: hidden;
}



/*SMALL*/
nav small {
    color: #aaa;
    font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    text-transform: none;

}



nav li a {
    background:#4682B4;
    border-right: 1px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font: 400 13px/1.4 'ledger', Helvetica, Verdana, Arial, sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 12.5%;


    /*TRANSISTIONS*/
    -webkit-transition: background 0.5s ease;
       -moz-transition: background 0.5s ease;
         -o-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
            transition: background 0.5s ease;
}

/*HOVER*/
nav li a:hover {
    background: #38678f;
    text-decoration: none
}

nav li:last-child a {
    border: none;
}

/* MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
    nav li a  p{
        font: 400 10px/1.4 'lobster', Helvetica, Verdana, Arial, sans-serif;

    }

    nav small {
        font: 100 10px/1 Helvetica, Verdana, Arial, sans-serif;
    }
}
@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
    nav li a  {
        width: 25%;
        border-bottom: 1px solid #fff;
        font: 400 11px/1.4 'ledger', Helvetica, Verdana, Arial, sans-serif;
    }

    nav li:last-child a, nav li:nth-child(4) a {
        border-right: none;
    }

    nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
        border-bottom: none;
    }
}
@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
    nav li a  {
        width: 50%;
        font: 400 12px/1.4 'ledger', Helvetica, Verdana, Arial, sans-serif;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    nav li:nth-child(even) a {
        border-right: none;
    }

    nav li:nth-child(5) a, nav li:nth-child(6) a {
        border-bottom: 1px solid #fff;
    }
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    nav li a {
        font: 400 11px/1.4 'ledger', Helvetica, Verdana, Arial, sans-serif;
    }
}

.container1
{
    width:%;

    padding: px;
    margin: 0 5%;
    background: rgba(70,130,180, 0.8) ;
    padding: 30px;
    border: 2px solid ;
    font: 13pt bold "arial";
    color: white;
    float: left;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:100%;
    background-position: 50% 0%, 50% 100%, 0% 0% ;
    }
.container1 p { padding: 10px}
.container1 h1 { margin-left: 0px}
.container1 i { margin: 0px 10px 0 -30px; }

.img1 {
  float:right;
  width:240px;
  height:240px;
  border: solid white;
  }

@-webkit-keyframes logo {
	from {
		-webkit-transform: rotate(0) scale(.5);
		left:120%;
	}
	50% {
		-webkit-transform: rotate(-720deg) scale(1);
		left: 0;
	}
	to {
		-webkit-transform:rotate(0) scale(1);
	}
}

@-moz-keyframes logo {
	from {
		-webkit-transform: rotate(0) scale(.5);
		left:120%;
	}
	50% {
		-webkit-transform: rotate(-720deg) scale(1);
		left: 0;
	}
	to {
		-webkit-transform:rotate(0) scale(1);
	}
}

@-o-keyframes logo {
	from {
		-webkit-transform: rotate(0) scale(.5);
		left:120%;
	}
	50% {
		-webkit-transform: rotate(-720deg) scale(1);
		left: 0;
	}
	to {
		-webkit-transform:rotate(0) scale(1);
	}
}

@-keyframes logo {
	from {
		-webkit-transform: rotate(0) scale(.5);
		left:120%;
	}
	50% {
		-webkit-transform: rotate(-720deg) scale(1);
		left: 0;
	}
	to {
		-webkit-transform:rotate(0) scale(1);
	}
}
.logo {
	-webkit-animation: logo 3s;
	-moz-animation: logo 3s;
	-o-animation: logo 3s;
	animation: logo 3s;
}
@-webkit-keyframes logo1 {
  from {
    -webkit-transform: rotate(0) scale(.001);
    left:120%;
  }
  50% {
    -webkit-transform: rotate(-720deg) scale(1);
    left: 0;
  }
  to {
    -webkit-transform:rotate(0) scale(1);
  }
}

@-moz-keyframes logo1 {
  from {
    -webkit-transform: rotate(0) scale(.001);
    left:120%;
  }
  50% {
    -webkit-transform: rotate(-720deg) scale(1);
    left: 0;
  }
  to {
    -webkit-transform:rotate(0) scale(1);
  }
}

@-o-keyframes logo1 {
  from {
    -webkit-transform: rotate(0) scale(.001);
    left:120%;
  }
  50% {
    -webkit-transform: rotate(-720deg) scale(1);
    left: 0;
  }
  to {
    -webkit-transform:rotate(0) scale(1);
  }
}

@-keyframes logo1 {
  from {
    -webkit-transform: rotate(0) scale(.001);
    left:120%;
  }
  50% {
    -webkit-transform: rotate(-720deg) scale(1);
    left: 0;
  }
  to {
    -webkit-transform: rotate(0) scale(1);
  }
}
.logo1 {
  -webkit-animation: logo1 8s;
  -moz-animation: logo1 8s;
  -o-animation: logo1 8s;
  animation: logo1 8s;
}
